#content {
	margin: 10px 25px 0 25px;
}

.caps {
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#clk {
	display: inline-block;
}

#dp1 {
	margin-right: 50px;
	display: inline-block;
	float: right;
}

.weekname {
	margin-right: 25px;
}

#timeon {
	margin-left: 20px;
}

#lwhrs {
	float: right;
}

.left {
}

.right {
	position: absolute;
	right: 15px;
}

#twhrs {
	float: right;
}

#twdate {
	margin-left: 20px;
}

#lwdate {
	margin-left: 20px;
}

#details {
	margin-top: 100px;
}

.detail {
	display: inline-block;
	width: 45%;
	margin-top: 20px;
	margin-right: 20px;
	vertical-align: top;
}

@media only screen
and (max-width : 600px) {
	.detail {
		width: 100%;
	}
	
	#dp1 {
		display: block;
		float: left;
		clear: right;
	}
	#clk {
		margin-bottom: 25px;
	}
}
