.detail {
    display: inline-block;
    width: 45%;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    vertical-align: top;
}

@media only screen and (max-width: 600px) {
    .detail {
        width: 90%;
    }
}